$color1: #774399;
$color2: #dcd9e8;
$color3: #2b2838;
$color4: #77439a;
$color5: #6b6881;
$color6: #ffffff;
$color7: #2750a3;
$color8: #9268ae;
$color9: #e8e6f4;
$color10: #a093ff;
$color11: #6e6c84;
$color12: #40e2c9;
$color13: #86d84b;
$color14: #fca3ee;
$color15: #ff79a2;
$color16: #6a92ff;
$color17: #f2f4f8;
$color18: #f7b219;
$color19: #89c766;
$color20: #ef4869;
$color21: #000000;
$color22: #473d44;
$color23: #f9f9f9;
// ---------------------------
$font-25: 25px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-12: 12px;
$font-25: 25px;
$font-25: 25px;
$font-25: 25px;
